html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 220px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 34px;
  font-weight: normal;
  color: #848789;
  background-color: #f7f7f7;
}

.page-header {
  height: 800px;
  width: 100%;
  background-color: #222429;
  background-image: url("img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.logo {
  width: 90px;
  height: 100px;
  position: absolute;
  top: 29px;
  left: 46.5%;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-nav {
  max-width: 670px;
  margin: 0 auto;
  padding: 0;
  padding-top: 55px;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav ul li {
  float: left;
  text-transform: uppercase;
  margin-right: 35px;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 14px;
}

.main-nav ul li.right {
  float: right;
}

.main-nav ul li a {
  text-decoration: none;
  color: #4d4959;
}


.main-nav ul li a:hover {
  color: #64c29e;
  transition: 0.2s linear;
}


.about-us {
  margin : 0 auto;
  padding: 0;
  text-align: center;
  min-height: 470px;
  padding-top: 170px;
  box-sizing: border-box;
  font-family: "Myriad Pro", sans-serif;
  font-weight: normal;
  position: relative;
}

.about-us .title {
  text-transform: uppercase;
  color: #353738;
  font-size: 19px;
  font-weight: 300;
  position: relative;
}

.about-us .title::before {
  content: "";
  position: absolute;
  top: -65px;
  left: 48%;
  background-image:url('img/icons.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  width:52px;
  height:43px;
}

.about-us .description {
  width: 78%;
  font-size: 17px;
  text-align: center;
  margin: 0 auto;
}


section.work {
  min-height: 1800px;
}

.work-item {
  float: left;
  min-height: 600px;
}

.work-item.wide {
  width: 66.666667%;
  background-color: #282f35;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.work-item.wide::after {
  content: "";
  position: absolute;
  background-image:url('img/icons.png');
  background-repeat: no-repeat;
}

.work-item.narrow {
  width: 33.333334%;
  position: relative;
  text-align: center;
  padding-top: 115px;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.work-item.narrow .title {
  position: relative;
  font-weight: 700;
  font-size: 17.5px;
  text-transform: uppercase;
  color: #353738;
}

.work-item.narrow .title::before {
  content: "";
  position: absolute;
  background-image:url('img/icons.png');
  background-repeat: no-repeat;
}

.work-item.narrow .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  border-top: 1px solid #d7d7d7;
  top: 235px;
  left: 45%;
}

.work-item.narrow .description {
  text-align: justify;
  position: relative;
  margin: 0 12.5%;
  font-family: "Myriad Pro", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

.work-item.narrow .description::after {
  content: "";
  position: absolute;
  display: block;
  border: 20px solid transparent;
  border-top: 20px solid #f7f7f7;
  top: 222px;
  left: 45%;
}

.work-item:first-child {
  background-image: url("img/work-item-1.png");
}

.work-item:first-child::after {
  background-position:0 -145px;
  width: 113px;
  top: 245px;
  left: 44%;
  height: 118px;
}

.work-item:nth-of-type(2) .title::before {
  background-position:0 -263px;
  width:41px;
  top: -57px;
  left: 45.5%;
  height:30px;
}

.work-item:nth-of-type(2) {
  background-image: url("img/work-item-2.png");
  background-position: center bottom;
}

.work-item:nth-of-type(3) {
  background-image: url("img/work-item-3.png");
  background-position: center bottom;
}

.work-item:nth-of-type(3) .title::before {
  background-position:0 -293px;
  width:32px;
  top: -60px;
  left: 46.5%;
  height:32px;
}

.work-item:nth-of-type(4) {
  background-image: url("img/work-item-4.png");
}

.work-item:nth-of-type(4)::after {
  background-position:0 -325px;
  width: 177px;
  top: 230px;
  left: 40%;
  height: 152px;
}

.work-item:nth-of-type(5) {
  background-image: url("img/work-item-5.png");
}

.work-item:nth-of-type(5)::after {
  background-position:0 -477px;
  width: 208px;
  top: 295px;
  left: 25.5%;
  height: 67px;
  content: "";
  position: absolute;
  background-image:url('img/icons.png');
  background-repeat: no-repeat;
}

.work-item:nth-of-type(6) {
  background-image: url("img/work-item-6.png");
  background-position: center bottom;
}
.work-item:nth-of-type(6) .title::before {
  background-position:0 -544px;
  width:23px;
  top: -56px;
  left: 47.5%;
  height:41px;
}

.work-item:nth-of-type(7) {
  background-image: url("img/work-item-7.png");
}


section.twitter {
  min-height: 510px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.twitter .slider {
  position: relative;
  padding-left: 12%;
}

.slide {
  float: left;
  width: 28%;
  margin: 0 auto;
  margin-right: 5%;
}

.slide:last-child {
  margin-right: 0;
}

.twitter-post .title {
  font-size: 20px;
  font-weight: 400;
  margin-top: 170px;
  position: relative;
  text-align: center;
}

.twitter-post .title::before {
  background-position:0 -585px;
  width: 32px;
  top: -45px;
  left: 48.5%;
  height: 27px;
  content: "";
  position: absolute;
  background-image:url('img/icons.png');
  background-repeat: no-repeat;
}

.twitter-post .title a {
  text-decoration: none;
  font-weight: 700;
  color: #353738;
}

.twitter-post .post {
  font-style: italic;
  font-size: 25px;
  text-align: center;
}


section.shop {
  min-height: 610px;
}

.shop div {
  width: 33.33334%;
  float: left;
  height: 450px;
  box-sizing: border-box;
}

.shop-item {
  position: relative;
  text-align: center;
  padding-top: 0;
  box-sizing: border-box;
  background-color: #64c29e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: padding-top 0.4s ease-out;
}

.shop-item.small {
  width: 50%;
  height: 50%;
}

.shop-item.high {
  height: 100%;
  width: 50%;
  padding-top: 0;
}

.shop-item.wide {
  height: 50%;
  width: 100%;
}

.left-col .shop-item:first-child {
  background-image: url("img/shop-item-1.png");
}

.left-col .shop-item:nth-child(2) {
  background-image: url("img/shop-item-2.png");
}

.left-col .shop-item:last-child {
  background-image: url("img/shop-item-3.png");
}

.mid-col .shop-item:first-child {
  background-image: url("img/shop-item-4.png");
}

.mid-col .shop-item:last-child {
  background-image: url("img/shop-item-5.png");
}

.right-col .shop-item:first-child {
  background-image: url("img/shop-item-6.png");
}

.right-col .shop-item:nth-child(2) {
  background-image: url("img/shop-item-7.png");
}

.right-col .shop-item:last-child {
  background-image: url("img/shop-item-8.png");
}

.shop-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #64c29e;
  z-index: 1;
}

.shop-item:hover::after {
  opacity: 0.8;
  transition: 0.4s ease-out;
}

.shop-item a {
  opacity: 0;
  z-index: 2;
  position: relative;
  letter-spacing: 3px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Myriad Pro", sans-serif;
  text-transform: uppercase;
  transition: 0.4s ease-out;
}

.shop-item a::before {
  background-position:0 -612px;
  width: 51px;
  top: -40px;
  left: 25.5%;
  height: 30px;
  content: "";
  position: absolute;
  background-image:url('img/icons.png');
  background-repeat: no-repeat;
}

.shop-item:hover a {
  opacity: 1;
}

.shop-item:hover {
  padding-top: 115px;
}

.shop-item.high:hover {
  padding-top: 49%;
}

.shop .discover-shop {
  clear: both;
  width: 100%;
  height: 160px;
  background-color: #282f35;
  box-sizing: border-box;
  text-align: center;
  padding-top: 60px;
}


.shop .discover-shop a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: "Myriad Pro", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: solid 1px #ffffff;
  padding: 15px 50px;
}

.shop .discover-shop a:hover {
  color: #64c29e;
  border-color: #64c29e;
  transition: 0.2s linear;
}


.mailing {
  width: 100%;
  min-height: 470px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 210px;
  font-family: "Myriad Pro", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  background-color: #ffffff;
}

.mailing .title {
  position: relative;
}

.mailing .title::before {
  content: "";
  width: 90px;
  height: 100px;
  position: absolute;
  top: -135px;
  left: 46.5%;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mailing form input[type="email"] {
  height: 69px;
  width: 380px;
  margin-bottom: 10px;
  padding-left: 28px;
  box-sizing: border-box;
  outline-color: #64c29e;
  margin-top: 10px;
  line-height: 24px;
  font-style: italic;
  font-size: 20px;
  color: #929292;
}

.mailing form input[type="submit"] {
  height: 69px;
  width: 130px;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 10px;
  outline-color: #64c29e;
  font-weight: 300;
  color: #ffffff;
  background-color: #64c29e;
  border: none;
}


.page-footer {
  width: 100%;
  min-height: 280px;
}

.page-footer div {
  float: left;
  width: 33.3334%;
}

.page-footer .left-col {
  box-sizing: border-box;
  padding-left: 8%;
  padding-top: 80px;
}

.page-footer .left-col p {
  font-size: 15px;
  line-height: 25px;
}

.page-footer .left-col p a {
  text-decoration: none;
  color: #848789;
}

.page-footer .left-col p a:hover {
  color: #64c29e;
  transition: 0.2s linear;
}

.page-footer .mid-col {
  box-sizing: border-box;
  padding-left: 10.5%;
  padding-top: 115px;
}

.page-footer .mid-col .social-btn {
  width: 34px;
  height: 34px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.page-footer .mid-col .social-btn:last-child {
  margin-right: 0;
}

.page-footer .right-col {
  box-sizing: border-box;
  padding-left: 14%;
  font-size: 15px;
  font-style: italic;
  padding-top: 100px;
}

.page-footer .right-col p {
  position: relative;
}

.page-footer .right-col img {
  margin-left: 20px;
  width: 55px;
  height: 36px;
  position: absolute;
}

@media (max-width: 1070px) {
  .work .work-item {
    width: 100%;
  }

  .work-item:nth-of-type(2) .title::before,
  .work-item:nth-of-type(3) .title::before {
    left: 48%;
  }

  .work-item:nth-of-type(6) .title::before {
    left: 49%;
  }

  .work-item:nth-of-type(5)::after {
    left: 40%;
  }

  .work-item.narrow .description::after,
  .work-item.narrow .title::after {
    display: none;
  }

  .work-item.narrow {
    background-size: 100% 40%;
  }

  .work-item:nth-of-type(5),
  .work-item:nth-of-type(7) {
    background-size: cover;
  }

  .shop div {
    float: none;
    width: 100%;
  }

  .shop div div {
    float: left;
  }

  .shop .shop-item.high:hover {
    padding-top: 25%;
  }

}

@media (max-width: 900px) {
  .page-footer .left-col,
  .page-footer .mid-col,
  .page-footer .right-col {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .page-footer .mid-col {
    width: 150px;
    float: none;
    margin: 0 auto;
  }

  .page-footer .left-col {
    margin-bottom: 20px;
  }

  .page-footer .right-col {
    padding-right: 50px;
    margin-top: 20px
  }

  .mailing .title::before {
    left: 45%;
  }
}

@media (max-width: 750px) {
  .shop .shop-item.high:hover {
    padding-top: 30%;
  }
}

@media (max-width: 570px) {
  .work-item.narrow {
    background-size: 100% 30%;
  }

  .work-item:nth-of-type(5),
  .work-item:nth-of-type(7) {
    background-size: cover;
  }

  .work-item:nth-of-type(4)::after {
    left: 35%;
  }

  .work-item:nth-of-type(5)::after {
    left: 32%;
  }

  .mailing form input[type="email"] {
    max-width: 250px;
  }

  .mailing .title::before {
    left: 42%;
  }

  .shop .shop-item.high:hover {
    padding-top: 40%;
  }
}

@media (max-width: 430px) {
  .mailing form input[type="email"] {
    max-width: 200px;
    font-size: 18px;
  }

  .mailing .title::before {
    left: 40%;
  }

  .shop .shop-item.high:hover {
    padding-top: 50%;
  }
}


@media (max-width: 360px) {
  .work-item.narrow {
    background-size: 100% 20%;
  }

  .work-item:nth-of-type(5),
  .work-item:nth-of-type(7) {
    background-size: cover;
  }

  .work-item:first-child::after {
    left: 32%;
  }

  .work-item:nth-of-type(4)::after {
    left: 25%;
  }

  .work-item:nth-of-type(5)::after {
    left: 17%;
  }

  .mailing .title::before {
    left: 38%;
  }

  .shop .shop-item.high:hover {
    padding-top: 75%;
  }

}


@media (max-width: 250px) {
  .work-item.narrow {
    background-size: 100% 15%;
  }

  .work-item:nth-of-type(5),
  .work-item:nth-of-type(7) {
    background-size: cover;
  }

  .work-item:first-child::after {
    left: 25%;
  }

  .work-item:nth-of-type(4)::after {
    left: 10%;
  }

  .work-item:nth-of-type(5)::after {
    left: 2%;
  }

  .mailing .title::before {
    left: 32%;
  }

  .shop .shop-item.high:hover {
    padding-top: 85%;
  }
}