html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 34px;
  font-weight: normal;
  color: #848789;
  background-color: #f7f7f7;
}

.page-header {
  height: 800px;
  width: 100%;
  background-color: #222429;
  background-image: url("img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.logo {
  width: 90px;
  height: 100px;
  position: absolute;
  top: 29px;
  left: 46.5%;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-nav {
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
  padding-top: 55px;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav ul li {
  float: left;
  text-transform: uppercase;
  margin-right: 40px;
}

.main-nav ul li.right {
  float: right;
}

.main-nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #4d4959;
}


.about-us {
  margin : 0 auto;
  padding: 0;
  text-align: center;
  height: 470px;
  padding-top: 170px;
  box-sizing: border-box;
  font-family: "Myriad Pro", sans-serif;
  font-weight: normal;
  position: relative;
}

.about-us .title {
  text-transform: uppercase;
  color: #353738;
  font-size: 19px;
  font-weight: 300;
  position: relative;
}

.about-us .description {
  width: 1045px;
  font-size: 17px;
  text-align: center;
  margin: 0 auto;
}


section.work {
  min-height: 1800px;
}

.work-item {
  float: left;
  height: 600px;
}

.work-item.wide {
  width: 66.666667%;
  background-color: #282f35;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work-item.narrow {
  width: 33.333334%;
  text-align: center;
  padding-top: 115px;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.work-item.narrow .title {
  position: relative;
  font-weight: 700;
  font-size: 17.5px;
  text-transform: uppercase;
  color: #353738;
}

.work-item.narrow .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  border-top: 1px solid #d7d7d7;
  top: 235px;
  left: 45%;
}

.work-item.narrow .description {
  text-align: justify;
  position: relative;
  margin: 0 12.5%;
  font-family: "Myriad Pro", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}


.work-item.narrow .description::after {
  content: "";
  position: absolute;
  display: block;
  border: 20px solid transparent;
  border-top: 20px solid #f7f7f7;
  top: 222px;
  left: 45%;
}

.work-item:first-child {
  background-image: url("img/work-item-1.png");
}

.work-item:nth-of-type(2) {
  background-image: url("img/work-item-2.png");
  background-position: center bottom;
}

.work-item:nth-of-type(3) {
  background-image: url("img/work-item-3.png");
  background-position: center bottom;
}

.work-item:nth-of-type(4) {
  background-image: url("img/work-item-4.png");
}

.work-item:nth-of-type(5) {
  background-image: url("img/work-item-5.png");
}

.work-item:nth-of-type(6) {
  background-image: url("img/work-item-6.png");
  background-position: center bottom;
}

.work-item:nth-of-type(7) {
  background-image: url("img/work-item-7.png");
}


section.twitter {
  padding-top: 150px;
  height: 510px;
  box-sizing: border-box;
}

.twitter-slider {
  position: relative;
}

.slider-inner {
  overflow: hidden;
  width: 1060px;
  margin: 0 auto;
}

.slider-slides {
  width: 300%;
  transition: transform 0.8s ease;
}

.slide {
  float: left;
  width: 1060px;
  margin: 0 auto;
}

.twitter-post .title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.twitter-post .title a {
  text-decoration: none;
  font-weight: 700;
  color: #353738;
}

.twitter-post .post {
  font-style: italic;
  font-size: 25px;
  text-align: center;
}

.slider-buttons {
  position: absolute;
  top: 230px;
  left: 645px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.slider-buttons input[type="radio"] {
  display: none;
}

.slider-controls label {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 9px;
  background-color: transparent;
  border-color: #a9afb3;
  border: solid 1px;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #a9afb3;
}


section.shop {
  min-height: 610px;
}

.shop div {
  width: 33.33334%;
  float: left;
  height: 450px;
  box-sizing: border-box;
}

.shop-item {
  position: relative;
  text-align: center;
  padding-top: 115px;
  box-sizing: border-box;
  background-color: #64c29e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.shop-item.small {
  width: 50%;
  height: 50%;
}

.shop-item.high {
  height: 100%;
  width: 50%;
  padding-top: 49%;
}

.shop-item.wide {
  height: 50%;
  width: 100%;
}

.left-col .shop-item:first-child {
  background-image: url("img/shop-item-1.png");
}

.left-col .shop-item:nth-child(2) {
  background-image: url("img/shop-item-2.png");
}

.left-col .shop-item:last-child {
  background-image: url("img/shop-item-3.png");
}

.mid-col .shop-item:first-child {
  background-image: url("img/shop-item-4.png");
}

.mid-col .shop-item:last-child {
  background-image: url("img/shop-item-5.png");
}

.right-col .shop-item:first-child {
  background-image: url("img/shop-item-6.png");
}

.right-col .shop-item:nth-child(2) {
  background-image: url("img/shop-item-7.png");
}

.right-col .shop-item:last-child {
  background-image: url("img/shop-item-8.png");
}

.shop-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #64c29e;
  z-index: 1;
}

.shop-item:hover::after {
  opacity: 0.8;
}

.shop-item a {
  opacity: 0;
  z-index: 2;
  position: relative;;
  letter-spacing: 3px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Myriad Pro", sans-serif;
  text-transform: uppercase;
}

.shop-item:hover a {
  opacity: 1;
}

.shop .discover-shop {
  clear: both;
  width: 100%;
  height: 160px;
  background-color: #282f35;
  box-sizing: border-box;
  text-align: center;
  padding-top: 60px;
}


.shop .discover-shop a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: "Myriad Pro", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: solid 1px #ffffff;
  padding: 15px 50px;
}

.shop .discover-shop a:hover {
  color: #64c29e;
  border-color: #64c29e;
}


.mailing {
  width: 100%;
  height: 470px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 210px;
  font-family: "Myriad Pro", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  background-color: #ffffff;
}

.mailing .title {
  position: relative;
}

.mailing .title::before {
  content: "";
  width: 90px;
  height: 100px;
  position: absolute;
  top: -135px;
  left: 46.5%;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mailing form input[type="email"] {
  height: 69px;
  width: 380px;
  padding-left: 28px;
  box-sizing: border-box;
  margin-top: 10px;
  line-height: 24px;
  font-style: italic;
  font-size: 20px;
  color: #929292;
}

.mailing form input[type="submit"] {
  height: 69px;
  width: 130px;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 24px;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  background-color: #64c29e;
  border: none;
}

.page-footer {
  width: 100%;
  height: 250px;
}

.page-footer div {
  float: left;
  width: 33.3334%;
}

.page-footer .left-col {
  box-sizing: border-box;
  padding-left: 110px;
  padding-top: 50px;
}

.page-footer .left-col p {
  line-height: 30px;
}

.page-footer .left-col p a {
  text-decoration: none;
  color: #848789;
}

.page-footer .left-col p a:hover {
  color: #64c29e;
}

.page-footer .mid-col {
  box-sizing: border-box;
  padding-left: 150px;
  padding-top: 80px;
}

.page-footer .mid-col .social-btn {
  width: 34px;
  height: 34px;
  margin-right: 15px;
  background-color: #ffffff;
  border-radius: 50%;
}

.page-footer .mid-col .social-btn:last-child {
  margin-right: 0;
}

.page-footer .right-col {
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 60px;
}