html,
body
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 34px;

    min-width: 220px;
    margin: 0 auto;

    color: #848789;
    background-color: #f7f7f7;
}

.page-header
{
    position: relative;

    width: 100%;
    height: 800px;

    background-color: #222429;
    background-image: url('img/header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo
{
    position: absolute;
    top: 29px;
    left: 46.5%;

    width: 90px;
    height: 100px;

    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page-header .menu-toggle
{
    display: none;
    float: right;

    margin-top: 40px;
    margin-right: 10%;

    cursor: pointer;

    border: none;
    outline: none;
    background: none;
}

.page-header .menu-toggle:before
{
    font: 2em 'arial';

    content: '\2261';
}

.main-nav
{
    max-width: 670px;
    margin: 0 auto;
    padding: 0;
    padding-top: 55px;
}

.main-nav ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-nav ul li
{
    font-size: 14px;
    font-weight: 400;

    float: left;

    margin-right: 35px;

    letter-spacing: 3px;
    text-transform: uppercase;
}

.main-nav ul li.right
{
    float: right;
}

.main-nav ul li a
{
    text-decoration: none;

    color: #4d4959;
}


.main-nav ul li a:hover
{
    transition: .2s linear;

    color: #64c29e;
}


.about-us
{
    font-family: 'Myriad Pro', sans-serif;
    font-weight: normal;

    position: relative;

    box-sizing: border-box;
    min-height: 470px;
    margin: 0 auto;
    padding: 0;
    padding-top: 170px;

    text-align: center;
}

.about-us .title
{
    font-size: 19px;
    font-weight: 300;

    position: relative;

    text-transform: uppercase;

    color: #353738;
}

.about-us .title::before
{
    position: absolute;
    top: -65px;
    left: 48%;

    width: 52px;
    height: 43px;

    content: '';

    background-image: url('img/icons.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.about-us .description
{
    font-size: 17px;

    width: 78%;
    margin: 0 auto;

    text-align: center;
}


section.work
{
    min-height: 1800px;
}

.work-item
{
    float: left;

    min-height: 600px;
}

.work-item.wide
{
    position: relative;

    width: 66.666667%;

    background-color: #282f35;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work-item.wide::after
{
    position: absolute;

    content: '';

    background-image: url('img/icons.png');
    background-repeat: no-repeat;
}

.work-item.narrow
{
    position: relative;

    box-sizing: border-box;
    width: 33.333334%;
    padding-top: 115px;

    text-align: center;

    background-repeat: no-repeat;
}

.work-item.narrow .title
{
    font-size: 17.5px;
    font-weight: 700;

    position: relative;

    text-transform: uppercase;

    color: #353738;
}

.work-item.narrow .title::before
{
    position: absolute;

    content: '';

    background-image: url('img/icons.png');
    background-repeat: no-repeat;
}

.work-item.narrow .title::after
{
    position: absolute;
    top: 235px;
    left: 45%;

    display: block;

    width: 50px;

    content: '';

    border-top: 1px solid #d7d7d7;
}

.work-item.narrow .description
{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;

    position: relative;

    margin: 0 12.5%;

    text-align: justify;
}

.work-item.narrow .description::after
{
    position: absolute;
    top: 222px;
    left: 45%;

    display: block;

    content: '';

    border: 20px solid transparent;
    border-top: 20px solid #f7f7f7;
}

.work-item:first-child
{
    background-image: url('img/work-item-1.png');
}

.work-item:first-child::after
{
    top: 245px;
    left: 44%;

    width: 113px;
    height: 118px;

    background-position: 0 -145px;
}

.work-item:nth-of-type(2) .title::before
{
    top: -57px;
    left: 45.5%;

    width: 41px;
    height: 30px;

    background-position: 0 -263px;
}

.work-item:nth-of-type(2)
{
    background-image: url('img/work-item-2.png');
    background-position: center bottom;
}

.work-item:nth-of-type(3)
{
    background-image: url('img/work-item-3.png');
    background-position: center bottom;
}

.work-item:nth-of-type(3) .title::before
{
    top: -60px;
    left: 46.5%;

    width: 32px;
    height: 32px;

    background-position: 0 -293px;
}

.work-item:nth-of-type(4)
{
    background-image: url('img/work-item-4.png');
}

.work-item:nth-of-type(4)::after
{
    top: 230px;
    left: 40%;

    width: 177px;
    height: 152px;

    background-position: 0 -325px;
}

.work-item:nth-of-type(5)
{
    background-image: url('img/work-item-5.png');
}

.work-item:nth-of-type(5)::after
{
    position: absolute;
    top: 295px;
    left: 25.5%;

    width: 208px;
    height: 67px;

    content: '';

    background-image: url('img/icons.png');
    background-repeat: no-repeat;
    background-position: 0 -477px;
}

.work-item:nth-of-type(6)
{
    background-image: url('img/work-item-6.png');
    background-position: center bottom;
}
.work-item:nth-of-type(6) .title::before
{
    top: -56px;
    left: 47.5%;

    width: 23px;
    height: 41px;

    background-position: 0 -544px;
}

.work-item:nth-of-type(7)
{
    background-image: url('img/work-item-7.png');
}


section.twitter
{
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    min-height: 510px;
    max-height: 900px;
}

.twitter .slider
{
    position: relative;

    padding-bottom: 50px;
    padding-left: 12%;
}

.slide
{
    float: left;

    width: 28%;
    margin: 0 auto;
    margin-right: 5%;
}

.slide:last-child
{
    margin-right: 0;
}

.twitter-post .title
{
    font-size: 20px;
    font-weight: 400;

    position: relative;

    margin-top: 170px;

    text-align: center;
}

.twitter-post .title::before
{
    position: absolute;
    top: -45px;
    left: 48.5%;

    width: 32px;
    height: 27px;

    content: '';

    background-image: url('img/icons.png');
    background-repeat: no-repeat;
    background-position: 0 -585px;
}

.twitter-post .title a
{
    font-weight: 700;

    text-decoration: none;

    color: #353738;
}

.twitter-post .post
{
    font-size: 25px;
    font-style: italic;

    text-align: center;
}


section.shop
{
    min-height: 610px;
}

.shop div
{
    float: left;

    box-sizing: border-box;
    width: 33.33334%;
    height: 450px;
}

.shop-item
{
    position: relative;

    box-sizing: border-box;
    padding-top: 0;

    transition: padding-top .4s ease-out;
    text-align: center;

    background-color: #64c29e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shop-item.small
{
    width: 50%;
    height: 50%;
}

.shop-item.high
{
    width: 50%;
    height: 100%;
    padding-top: 0;
}

.shop-item.wide
{
    width: 100%;
    height: 50%;
}

.left-col .shop-item:first-child
{
    background-image: url('img/shop-item-1.png');
}

.left-col .shop-item:nth-child(2)
{
    background-image: url('img/shop-item-2.png');
}

.left-col .shop-item:last-child
{
    background-image: url('img/shop-item-3.png');
}

.mid-col .shop-item:first-child
{
    background-image: url('img/shop-item-4.png');
}

.mid-col .shop-item:last-child
{
    background-image: url('img/shop-item-5.png');
}

.right-col .shop-item:first-child
{
    background-image: url('img/shop-item-6.png');
}

.right-col .shop-item:nth-child(2)
{
    background-image: url('img/shop-item-7.png');
}

.right-col .shop-item:last-child
{
    background-image: url('img/shop-item-8.png');
}

.shop-item::after
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    opacity: 0;
    background-color: #64c29e;
}

.shop-item:hover::after
{
    transition: .4s ease-out;

    opacity: .8;
}

.shop-item a
{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;

    position: relative;
    z-index: 2;

    transition: .4s ease-out;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;

    opacity: 0;
    color: #fff;
}

.shop-item a::before
{
    position: absolute;
    top: -40px;
    left: 25.5%;

    width: 51px;
    height: 30px;

    content: '';

    background-image: url('img/icons.png');
    background-repeat: no-repeat;
    background-position: 0 -612px;
}

.shop-item:hover a
{
    opacity: 1;
}

.shop-item:hover
{
    padding-top: 115px;
}

.shop-item.high:hover
{
    padding-top: 49%;
}

.shop .discover-shop
{
    clear: both;

    box-sizing: border-box;
    width: 100%;
    height: 160px;
    padding-top: 60px;

    text-align: center;

    background-color: #282f35;
}


.shop .discover-shop a
{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;

    padding: 15px 50px;

    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #fff;
    border: solid 1px #fff;
}

.shop .discover-shop a:hover
{
    transition: .2s linear;

    color: #64c29e;
    border-color: #64c29e;
}


.mailing
{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;

    box-sizing: border-box;
    width: 100%;
    min-height: 470px;
    padding-top: 210px;

    text-align: center;

    background-color: #fff;
}

.mailing .title
{
    position: relative;
}

.mailing .title::before
{
    position: absolute;
    top: -135px;
    left: 46.5%;

    width: 90px;
    height: 100px;

    content: '';

    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.mailing form input[type='email']
{
    font-size: 20px;
    font-style: italic;
    line-height: 24px;

    box-sizing: border-box;
    width: 380px;
    height: 69px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 28px;

    color: #929292;
    outline-color: #64c29e;
}

.mailing form input[type='submit']
{
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;

    box-sizing: border-box;
    width: 130px;
    height: 69px;
    margin-bottom: 10px;

    cursor: pointer;

    color: #fff;
    border: none;
    outline-color: #64c29e;
    background-color: #64c29e;
}


.page-footer
{
    width: 100%;
    min-height: 280px;
}

.page-footer div
{
    float: left;

    width: 33.3334%;
}

.page-footer .left-col
{
    box-sizing: border-box;
    padding-top: 80px;
    padding-left: 8%;
}

.page-footer .left-col p
{
    font-size: 15px;
    line-height: 25px;
}

.page-footer .left-col p a
{
    text-decoration: none;

    color: #848789;
}

.page-footer .left-col p a:hover
{
    transition: .2s linear;

    color: #64c29e;
}

.page-footer .mid-col
{
    box-sizing: border-box;
    padding-top: 115px;
    padding-left: 10.5%;
}

.page-footer .mid-col .social-btn
{
    width: 34px;
    height: 34px;
    margin-right: 20px;

    border-radius: 50%;
    background-color: #fff;
}

.page-footer .mid-col .social-btn:last-child
{
    margin-right: 0;
}

.page-footer .right-col
{
    font-size: 15px;
    font-style: italic;

    box-sizing: border-box;
    padding-top: 100px;
    padding-left: 14%;
}

.page-footer .right-col p
{
    position: relative;
}

.page-footer .right-col img
{
    position: absolute;

    width: 55px;
    height: 36px;
    margin-left: 20px;
}

@media (max-width: 1070px)
{
    .logo
    {
        left: 10%;

        margin-top: -10px;
    }

    .main-nav ul li
    {
        display: none;
    }


    .page-header .menu-toggle
    {
        display: block;
    }

    .work .work-item
    {
        width: 100%;
    }

    .work-item:nth-of-type(2) .title::before,
    .work-item:nth-of-type(3) .title::before
    {
        left: 48%;
    }

    .work-item:nth-of-type(6) .title::before
    {
        left: 49%;
    }

    .work-item:nth-of-type(5)::after
    {
        left: 40%;
    }

    .work-item.narrow .description::after,
    .work-item.narrow .title::after
    {
        display: none;
    }

    .work-item.narrow
    {
        background-size: 100% 40%;
    }

    .work-item:nth-of-type(5),
    .work-item:nth-of-type(7)
    {
        background-size: cover;
    }

    .shop div
    {
        float: none;

        width: 100%;
    }

    .shop div div
    {
        float: left;
    }

    .shop .shop-item.high:hover
    {
        padding-top: 25%;
    }
}

@media (max-width: 900px)
{
    .page-footer .left-col,
    .page-footer .mid-col,
    .page-footer .right-col
    {
        width: 100%;
        padding: 0;

        text-align: center;
    }

    .page-footer .mid-col
    {
        float: none;

        width: 150px;
        margin: 0 auto;
    }

    .page-footer .left-col
    {
        margin-bottom: 20px;
    }

    .page-footer .right-col
    {
        margin-top: 20px;
        padding-right: 50px;
    }

    .mailing .title::before
    {
        left: 45%;
    }
}

@media (max-width: 750px)
{
    .shop .shop-item.high:hover
    {
        padding-top: 30%;
    }
}

@media (max-width: 570px)
{
    .work-item.narrow
    {
        background-size: 100% 30%;
    }

    .work-item:nth-of-type(5),
    .work-item:nth-of-type(7)
    {
        background-size: cover;
    }

    .work-item:nth-of-type(4)::after
    {
        left: 35%;
    }

    .work-item:nth-of-type(5)::after
    {
        left: 32%;
    }

    .mailing form input[type='email']
    {
        max-width: 250px;
    }

    .mailing .title::before
    {
        left: 42%;
    }

    .shop .shop-item.high:hover
    {
        padding-top: 40%;
    }
}

@media (max-width: 430px)
{
    .mailing form input[type='email']
    {
        font-size: 18px;

        max-width: 200px;
    }

    .mailing .title::before
    {
        left: 40%;
    }

    .shop .shop-item.high:hover
    {
        padding-top: 50%;
    }
}


@media (max-width: 360px)
{
    .work-item.narrow
    {
        background-size: 100% 20%;
    }

    .work-item:nth-of-type(5),
    .work-item:nth-of-type(7)
    {
        background-size: cover;
    }

    .work-item:first-child::after
    {
        left: 32%;
    }

    .work-item:nth-of-type(4)::after
    {
        left: 25%;
    }

    .work-item:nth-of-type(5)::after
    {
        left: 17%;
    }

    .mailing .title::before
    {
        left: 38%;
    }

    .shop .shop-item.high:hover
    {
        padding-top: 75%;
    }

    .shop .discover-shop a
    {
        font-size: 12px;

        padding: 15px 20px;
    }
}


@media (max-width: 250px)
{
    .work-item.narrow
    {
        background-size: 100% 15%;
    }

    .work-item:nth-of-type(5),
    .work-item:nth-of-type(7)
    {
        background-size: cover;
    }

    .work-item:first-child::after
    {
        left: 25%;
    }

    .work-item:nth-of-type(4)::after
    {
        left: 10%;
    }

    .work-item:nth-of-type(5)::after
    {
        left: 2%;
    }

    .mailing .title::before
    {
        left: 32%;
    }

    .shop .shop-item.high:hover
    {
        padding-top: 85%;
    }

    .shop .discover-shop a
    {
        font-size: 11px;

        padding: 15px 10px;
    }
}


.main-nav-min
{
    width: 100px;
    margin: 0 auto;
}

.main-nav-min ul
{
    margin-top: 50px;
}

.main-nav-min ul li
{
    display: block;
    float: none;

    margin: 0;
    padding: 0;

    text-align: center;
}

.main-nav-min ul li.right
{
    float: none;
}
